/* Sezione del titolo */
.about-title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  
  .about-title {
    margin-right: 15px;
  }
  
  /* Aggiungi più spazio tra le colonne */
  .about-content-section {
    gap: 30px; /* Aggiunge più spazio tra l'immagine e il testo */
    display: flex; /* Assicura che le sezioni si dispongano in orizzontale su desktop */
    justify-content: space-around; /* Distribuisce lo spazio in modo uniforme */
    flex-wrap: wrap;
  }
  
  /* Riduci la dimensione dell'immagine */
  .about-image {
    max-width: 100%; /* L'immagine sarà responsive all'interno della sua colonna */
    height: auto;
  }
  
  /* Stile per il testo "About Me" */
  .about-about-me {
    font-weight: 600;
    color: black;
  }
  
  /* Stile per la descrizione */
  .about-description {
    color: #424242; /* Testo della descrizione */
  }
  
  /* Ottimizzazione per desktop - la sezione sinistra è 40%, la destra è 50% */
  @media (min-width: 1024px) {
    .about-image-section {
      flex: 0 0 40%; /* Occupa il 40% dello spazio */
    }
    
    .about-text-section {
      flex: 0 0 50%; /* Occupa il 50% dello spazio */
    }
  }
  
  /* Ottimizzazione per mobile */
  @media (max-width: 768px) {
    .about-title-section {
      text-align: center; /* Centra il titolo su schermi piccoli */
      margin-bottom: 40px;
    }
  
    .about-content-section {
      flex-direction: column; /* Le sezioni vanno in colonna su schermi piccoli */
      gap: 20px; /* Riduce lo spazio tra le sezioni su mobile */
    }
  
    .about-description {
      font-size: 14px; /* Riduce la dimensione del testo per migliorare la leggibilità su schermi piccoli */
      margin-top: 16px;

    }
    .about-text-section{
        text-align: center;
    }
  }
  