/* Stile personalizzato per Navbar */
.navbar {
  position: sticky; /* Mantiene la navbar fissa allo scroll */
  top: 0; /* Fissa la navbar in alto alla pagina */
  z-index: 1000; /* Garantisce che la navbar stia sopra gli altri contenuti */
  background-color: rgba(255, 255, 255, 1); /* Colore di sfondo della navbar */
  transition: background-color 0.3s ease-in-out;
}

/* Rimozione del bordo dal pulsante del burger menu */
.navbar-toggler {
  border: none; /* Rimuove il bordo del burger menu */
}

@media (max-width: 1280px) {
  .navbar {
    background-color: #f8f9fa; /* Sfondo predefinito della navbar su schermi più piccoli */
  }
  .navbar-collapse {
    display: flex;
  }

  /* Imposta la navbar per disporre gli elementi verticalmente */
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Assicurati che i link siano centrati */
  .nav-link {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}

/* Modifica per la navbar */
.navbar-brand {
  color: var(--primary-color);
}

.nav-link {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--secondary-color);
}

body {
  scroll-behavior: smooth;
}
